!!! 5
html(lang='en')
    head
        meta(charset='utf-8')
        title Umbrella: Open Library
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='keywords', content='')
        meta(name='title', content='')
        meta(name='description', content='')
        link(rel='shortcut icon', href='/static/img/favicon.ico')
        link(rel='stylesheet', href='/static/css/reset.css', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed|Open+Sans+Condensed:300|Libre+Baskerville', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='/static/css/lightbox.css', type='text/css')
        link(rel='stylesheet', href='/static/css/main.css', type='text/css')
    body
        #wrapper
          #menuBlock
          #contentBlock
          .clear
          div
            .overlay
              .lightBoxBlock
                .lightBox
                  .lightBoxContent
                  a.closeLightBox(href='')
                  a.nextLightBox(href='')
                  a.prevLightBox(href='')
            noscript
              strong You need Javascript to run this page
    script(data-main='/static/js/main',src='/static/js/libs/require.js')
